In [17]:
import pandas as pd
import numpy as np
data = pd.read_csv("president_heights.csv")

In [18]:
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [19]:
heights = np.array(data['height(cm)'])
print("Maximum height:    ", heights.max())

Maximum height:     193

In [20]:
print("The Tallest President's Name :  ", data["name"][heights.argmax()])

The Tallest President's Name :   Abraham Lincoln

In [21]:
print("The Tallest President's Order :  ", data["order"][heights.argmax()])

The Tallest President's Order :   16

In [22]:
heights = np.array(data['height(cm)'])
print("Minimum height:    ", heights.min())

Minimum height:     163

In [23]:
heights = np.array(data['height(cm)'])
print("Minimum height:    ", heights.min())

Minimum height:     163

In [24]:
print("The Shortest President's Name :  ", data["name"][heights.argmin()])

The Shortest President's Name :   James Madison

In [25]:
print("The Shortest President's Order :  ", data["order"][heights.argmin()])

The Shortest President's Order :   4